<div id="wrapper">
    <div class="video-container">
        <video autoplay loop muted poster="screenshot.jpg" id="bgvid">
            <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
        </video>

        <div class="video-content">
            <div class="logo">
                <!-- <a href="#" class="imge-logo"><img src="components/app/assets/images/logo.png" alt="logo"></a>-->
            </div>
            <span>Welcome to</span>
            <h2>Polina</h2>
            <!--<span class="digital">Digital</span>-->
            <a class="continue-next" ui-sref="main">Continue To Site </a>
        </div>
    </div>

</div>
